{% extends 'base.html.twig' %}
{% block body %}
    {% if isEmpty %}
        <div class="comingcontainer">
            <div class="checkbacksoon">
                <p>
                    <span class="go3d">N</span>
                    <span class="go3d">o</span>
                    <span class="go3d">t</span>
                    <span class="go3d">h</span>
                    <span class="go3d">i </span>
                    <span class="go3d">n</span>
                    <span class="go3d">g</span>
                    <br/>
                    <span class="go3d">f</span>
                    <span class="go3d">o</span>
                    <span class="go3d">u</span>
                    <span class="go3d">n</span>
                    <span class="go3d">d</span>
                    <span class="go3d">:</span>
                    <span class="go3d">(</span>


                </p>
                <nav class="go3d">
                    <ul>
                        <li><a href="{{ path('news_index') }}">Home</a></li>
                    </ul>
                </nav>

            </div>
        </div>

    {% else %}
        <h5>List of all news</h5>
        <div class=" row table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>Title</th>
                    <th>Abstract</th>
                    <th>Date</th>
                    <th>FullText</th>
                    <th>Activity</th>
                    <th>Action</th>
                </tr>
                {% for article in news %}
                    <tr>
                        <td><a href="{{ path("news_show", {id:article.id} ) }}">{{ article.title }}</a></td>
                        <td>{{ article.abstract }}</td>
                        <td>{{ article.date |date("m/d/Y") }}</td>
                        <td>{{ article.text }}</td>
                        <td>{{ article.activity |number_format }}</td>
                        <td><a href="{{ path("news_edit", {id:article.id}) }}">edit </a><a> </a><a
                                    href="{{ path("news_delete", {id:article.id}) }}">delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% if lastPage > 1 %}
            <div class="row justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page == '1' %}
                            <li class="page-item"><a class="page-link">{{ page }}</a></li>
                            <li class="page-item"><a class="page-link" href="{{ path("news_index",{page:(page+1)}) }}">Next</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="{{ path("news_index",{page:(page-1)}) }}">Previous</a></li>
                            <li class="page-item"><a class="page-link">{{ page }}</a></li>
                            {% if page != lastPage %}
                                <li class="page-item"><a class="page-link" href="{{ path("news_index",{page:(page+1)}) }}">Next</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </nav>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}